POSTGRES_USER=voyage
POSTGRES_PASSWORD=voyage_password
POSTGRES_DB=voyage_db
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"
PORT=3000
